.content {
	width: 75vh;
}

.status {
	margin: 0 0 16px 8px;
}
.status h1,
.status h4 {
	opacity: var(--symbol-opacity);
}

.matrix {
	width: 100%;
	height: 75vh;
}

.slot {
	width: 33.33%;
	height: 33.33%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 8px solid white;
	transition: all 0.4s ease-in-out;
	background: var(--background-color);
	transform: rotateY(180deg);
	vertical-align: top;
}
.slot.empty {
	transform: rotateY(0deg);
	cursor: pointer;
}
.slot.empty:hover {
	transform: scale(0.9);
}

.symbol {
	position: relative;
	width: 61.8%;
	height: 61.8%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: var(--symbol-opacity);
	transition: opacity 0s ease-in-out 0.2s;
}
.empty .symbol {
	opacity: 0;
}

.symbol.X::before, .symbol.X::after {
	content: '';
	position: absolute;
	width: 115%;
	height: 24px;
	background: var(--x-color);
	border-radius: 12px;
}
.symbol.X::before {
	transform: rotate(45deg);
}
.symbol.X::after {
	transform: rotate(-45deg);
}

.symbol.O {
	border: 24px solid var(--o-color);
	border-radius: 50%;
}

.end-game {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	max-height: 0;
	overflow: hidden;
	background-color: var(--overlay-color);
	z-index: 10;
	transition: max-height 0.4s ease-in-out;
}
.end-game.active {
	max-height: 100vh;
}

.end-game h2 {
	font-weight: bold;
	font-size: 5vh;
	opacity: var(--symbol-opacity);
}
.end-game.X h2,
.status.X h1,
.status.X h4 {
	color: var(--x-color)
}
.end-game.O h2,
.status.O h1,
.status.O h4 {
	color: var(--o-color)
}

button {
	padding: 16px;
	text-transform: uppercase;
	border: none;
	color: white;
	outline: none;
	margin-top: 16px;
	font-size: 2vh;
	opacity: var(--symbol-opacity);
}
.X button {
	background: var(--x-color);
}
.O button {
	background: var(--o-color);
}

input {
	width: 45vh;
	padding: 16px;
	outline: none;
	border: none;
	border-bottom: 1px solid var(--x-color);
	opacity: var(--symbol-opacity);
}

@media only screen and (max-width: 480px) {
	input {
		width: 60vw;
	}

	.content {
		width: 90vw;
	}

	.matrix {
		height: 90vw;
	}
}