* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

:root {
	--o-color: rgb(0,0,255);
	--x-color: rgb(255,0,0);
	--symbol-opacity: 0.35;
	--background-color: rgba(0,0,0,0.05);
}